switch = True

while switch:
  
  first_number = int(input("Choose a number:\n"))
  second_number = int(input("Choose a another one:\n"))
  operator = input("Choose an operation:\n\tOptions are: + , - , * or / .\n\tWrithe 'exit'to finish.\n")

  if operator == "+":
    result = first_number + second_number
    print(f"Result: {result}")

  elif operator == "-":
    result = first_number - second_number
    print(f"Result: {result}")

  elif operator == "*":
    result = first_number * second_number
    print(f"Result: {result}")

  elif operator == "/":
    result = first_number / second_number
    print(f"Result: {result}")

  elif operator == "exit":
    switch = False

  else:
    print("Error!!")
  
